In [1]:
import numpy as np
import psycopg2
from sqlalchemy import create_engine, text
from sqlalchemy.orm import sessionmaker
from sqlalchemy import text
from pickle import load
from sklearn.metrics import accuracy_score
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score, plot_confusion_matrix, confusion_matrix, roc_auc_score
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve

In [2]:
MBE = pd.read_csv('MICROBIOLOGYEVENTS.csv', delimiter=',')
DG = pd.read_csv('DEMOGRAPHICS.csv', delimiter=',')
D_ICD = pd.read_csv('DIAGNOSES_ICD.csv', delimiter=',').dropna()

In [3]:
MBE_DF = MBE.copy()
MBE_DF = pd.read_csv('MICROBIOLOGYEVENTS.csv', delimiter=',')
MBE_DF.dropna(subset=['ORG_NAME','AB_NAME'], how='any', inplace=True)
MBE_DF.drop_duplicates(inplace=True)
MBE_DF = MBE_DF[['ORG_NAME', 'ROW_ID']]

In [4]:
def clean_org_names(name):
    if name =='STAPH AUREUS COAG +':
        return 'Staphylococcus Aureus Coagulas (+)'
    elif name == 'ESCHERICHIA COLI':
        return 'Escherichia Coli'
    elif name == 'KLEBSIELLA PNEUMONIAE':
        return 'Klebsiella Pneumoniae'
    elif name == 'PSEUDOMONAS AERUGINOSA':
        return 'Pseudomonas Aeruginosa'
    elif name == 'STAPHYLOCOCCUS, COAGULASE NEGATIVE':
        return 'Staphylococcus Aureus Coagulas (-)'
    elif name == 'ENTEROCOCCUS SP.':
        return 'Enterococcus Spp'
    elif name == 'PROTEUS MIRABILIS':
        return 'Proteus Mirabilis'
    elif name == 'ENTEROBACTER CLOACAE':
        return 'Enterobacter Cloacae'
    elif name == 'SERRATIA MARCESCENS':
        return 'Serratia Marcescens'
    elif name == 'KLEBSIELLA OXYTOCA':
        return 'Klebsiella Oxytoca'
    elif name == 'ENTEROBACTER AEROGENES':
        return 'Klebsiella Aerogenes'
    elif name == 'ACINETOBACTER BAUMANNII':
        return 'Acinetobacter Baumannii'
    elif name == 'NON-FERMENTER, NOT PSEUDOMONAS AERUGINOSA':
        return 'Pseudomonas Aeruginosa (Non-fermenter)'
    elif name == 'CITROBACTER FREUNDII COMPLEX':
        return 'Citrobacter Freundii Complex'
    elif name == 'ENTEROCOCCUS FAECIUM':
        return 'Enterococcus Faecium'
    elif name == 'STREPTOCOCCUS PNEUMONIAE':
        return 'Streptococcus Pneumoniae'
    elif name == 'MORGANELLA MORGANII':
        return 'Morganella Morganii'
    elif name == 'CITROBACTER KOSERI':
        return 'Citrobacter Koseri'
    elif name == 'ACINETOBACTER BAUMANNII COMPLEX':
        return 'Acinetobacter'
    elif name == 'ENTEROCOCCUS FAECALIS':
        return 'Enterococcus Faecalis'
    elif name == 'OTHERS':
        return 'Others'

In [5]:
CSV_ONE = MBE_DF.groupby(['ORG_NAME']).count().sort_values(by = ['ROW_ID'], ascending = False)
CSV_ONE.reset_index(level=0, inplace=True)
CSV_ONE = CSV_ONE.rename(columns={'ORG_NAME':'ORGANISM NAME','ROW_ID':'ORGANISM OCCURRENCE'})
total_Sum = CSV_ONE['ORGANISM OCCURRENCE'].sum()

top_20 = CSV_ONE.head(10)
total_top_20 = top_20['ORGANISM OCCURRENCE'].sum()
difference = total_Sum - total_top_20
new_row = {'ORGANISM NAME':'OTHERS','ORGANISM OCCURRENCE':difference }
top_20 = top_20.append(new_row, ignore_index=True)
top_20['ORGANISM NAME'] = top_20['ORGANISM NAME'].apply(clean_org_names)

In [6]:
class ImportDB():
    def task1_table(self, df):
        df.to_sql('PLOT_ONE', engine, if_exists='replace', method='multi',
                   index=False, chunksize=1000)
engine = create_engine(
        'postgresql+psycopg2://postgres:cmpt733db@mimic-cmpt733.cfynl4oqowhh.us-east-1.rds.amazonaws.com:5432/postgres')
engine.connect()
db = ImportDB()
db.task1_table(top_20)

In [7]:
plot_one = pd.read_sql_table('PLOT_ONE', engine)
plot_one

                         ORGANISM NAME  ORGANISM OCCURRENCE
0   Staphylococcus Aureus Coagulas (+)                59293
1                     Escherichia Coli                59072
2                Klebsiella Pneumoniae                29849
3               Pseudomonas Aeruginosa                27883
4   Staphylococcus Aureus Coagulas (-)                27209
5                     Enterococcus Spp                15703
6                    Proteus Mirabilis                 9385
7                 Enterobacter Cloacae                 8442
8                  Serratia Marcescens                 5840
9                   Klebsiella Oxytoca                 5224
10                              Others                27934

In [8]:
DG_DF = DG.copy()
DG_DF = DG_DF.drop(['dod', 'icustay_id', 'gender','admittime', 'ethnicity_grouped', 'dischtime', 'los_hospital', 'ethnicity', 'hospital_expire_flag', 'hospstay_seq', 'first_hosp_stay', 'intime', 'outtime', 'los_icu', 'icustay_seq', 'first_icu_stay'], axis = 1)
DG_DF.drop_duplicates(inplace=True)

In [9]:
def clean_age(age):
  if age == 300:
    return 90
  elif age > 300:
    dif = age - 300
    age = 90+dif
    return age
  elif age == 0:
    return 54
  return age
DG_DF['admission_age'] = DG_DF['admission_age'].apply(clean_age)

In [10]:
D_ICD_DF = D_ICD.copy()
D_ICD_DF = D_ICD_DF.drop(['ROW_ID', 'SEQ_NUM'], axis=1)
D_ICD_DF = D_ICD_DF[~D_ICD_DF['ICD9_CODE'].str.startswith('E')]

In [11]:
def icd_codes(code):
    if 'V' in code:
        code = int(code[1:3])
        if code >= 1  and code <= 91:
            return 'Supplementary Classification Of Factors Influencing Health Status And Contact With Health Services'
    else:    
        code = int(code[0:3]) 
        if code >= 1 and code <= 139:
            return 'Infectious And Parasitic Diseases'
        elif code >= 140 and code <= 239:
            return 'Neoplasms'
        elif code >= 240 and code <= 279:
            return 'Endocrine, Nutritional And Metabolic Diseases, And Immunity Disorders'
        elif code >= 280 and code <= 289:
            return 'Diseases Of The Blood And Blood-Forming Organs'
        elif code == 290 and code <= 319:
            return 'Mental Disorders'
        elif code >= 320 and code <= 389:
            return 'Diseases Of The Nervous System And Sense Organs'
        elif code >= 390 and code <= 459:
            return 'Diseases Of The Circulatory System'
        elif code >= 460 and code <= 519:
            return 'Diseases Of The Respiratory System'
        elif code >= 520 and code <= 579:
            return 'Diseases Of The Digestive System'
        elif code >= 580 and code <= 629:
            return 'Diseases Of The Genitourinary System'
        elif code >= 680 and code <= 709:
            return 'Diseases Of The Skin And Subcutaneous Tissue'
        elif code >= 710 and code <= 739:
            return 'Diseases Of The Musculoskeletal System And Connective Tissue'
        elif code >= 740 and code <= 759:
            return 'Congenital Anomalies'
        elif code >= 760 and code <= 779:
            return 'Certain Conditions Originating In The Perinatal Period'
        elif code >= 780 and code <= 799:
            return 'Symptoms, Signs, And Ill-Defined Conditions'
        elif code >= 800 and code <= 999:
            return 'Injury And Poisoning'
    return '0'

In [12]:
D_ICD_DF['ICD9_CODE'] = D_ICD_DF['ICD9_CODE'].apply(icd_codes)
CSV_TWO = D_ICD_DF.merge(DG_DF,left_on=['SUBJECT_ID','HADM_ID'] ,right_on = ['subject_id','hadm_id']).drop_duplicates()
CSV_TWO = CSV_TWO.drop(['HADM_ID','subject_id', 'hadm_id'], axis=1)
CSV_TWO.reset_index(level=0, inplace=False)
CSV_TWO = CSV_TWO.rename(columns={'ICD9_CODE':'DIAGNOSIS','admission_age':'AGE'})
CSV_TWO

        SUBJECT_ID                                          DIAGNOSIS  AGE
0              109                 Diseases Of The Circulatory System   24
1              109                 Diseases Of The Respiratory System   24
2              109               Diseases Of The Genitourinary System   24
5              109  Endocrine, Nutritional And Metabolic Diseases,...   24
6              109  Diseases Of The Musculoskeletal System And Con...   24
...            ...                                                ...  ...
618310       97497                 Diseases Of The Circulatory System   58
618311       97497                                          Neoplasms   58
618313       97497  Endocrine, Nutritional And Metabolic Diseases,...   58
618314       97497                 Diseases Of The Respiratory System   58
618316       97497  Supplementary Classification Of Factors Influe...   58

[317119 rows x 3 columns]

In [13]:
class ImportDB():
    def task1_table(self, df):
        df.to_sql('PLOT_TWO', engine, if_exists='replace', method='multi',
                   index=False, chunksize=1000)
engine = create_engine(
        'postgresql+psycopg2://postgres:cmpt733db@mimic-cmpt733.cfynl4oqowhh.us-east-1.rds.amazonaws.com:5432/postgres')
engine.connect()
db = ImportDB()
db.task1_table(CSV_TWO)

In [14]:
plot_two = pd.read_sql_table('PLOT_TWO', engine)
plot_two

        SUBJECT_ID                                          DIAGNOSIS  AGE
0              109                 Diseases Of The Circulatory System   24
1              109                 Diseases Of The Respiratory System   24
2              109               Diseases Of The Genitourinary System   24
3              109  Endocrine, Nutritional And Metabolic Diseases,...   24
4              109  Diseases Of The Musculoskeletal System And Con...   24
...            ...                                                ...  ...
317114       97497                 Diseases Of The Circulatory System   58
317115       97497                                          Neoplasms   58
317116       97497  Endocrine, Nutritional And Metabolic Diseases,...   58
317117       97497                 Diseases Of The Respiratory System   58
317118       97497  Supplementary Classification Of Factors Influe...   58

[317119 rows x 3 columns]

In [15]:
MBE__DF = MBE.copy()
MBE__DF.dropna(subset=['ORG_NAME','AB_NAME'], how='any', inplace=True)
MBE__DF.drop_duplicates(inplace=True)
MBE__DF = MBE__DF[['SPEC_TYPE_DESC', 'ROW_ID']]

In [16]:
CSV_THREE = MBE__DF.groupby(['SPEC_TYPE_DESC']).count().sort_values(by = ['ROW_ID'], ascending = False)
CSV_THREE.reset_index(level=0, inplace=True)
CSV_THREE = CSV_THREE.rename(columns={'SPEC_TYPE_DESC':'SPECIMEN TYPE','ROW_ID':'SPECIMEN TYPE COUNT'})

TOTAL_SUM_25 = CSV_THREE['SPECIMEN TYPE COUNT'].sum()
TOP_25 = CSV_THREE.head(9)
TOP_25_SUM= TOP_25['SPECIMEN TYPE COUNT'].sum()
DIFFERENCE = TOTAL_SUM_25 - TOP_25_SUM
NEW_ROW = {'SPECIMEN TYPE':'OTHERS','SPECIMEN TYPE COUNT':DIFFERENCE }
TOP_25 = TOP_25.append(NEW_ROW, ignore_index=True)
TOP_25['SPECIMEN TYPE PERCENTAGE'] = (TOP_25['SPECIMEN TYPE COUNT'] / 
                  TOP_25['SPECIMEN TYPE COUNT'].sum()) * 100

In [17]:
class ImportDB():
    def task1_table(self, df):
        df.to_sql('PLOT_THREE', engine, if_exists='replace', method='multi',
                   index=False, chunksize=1000)
engine = create_engine(
        'postgresql+psycopg2://postgres:cmpt733db@mimic-cmpt733.cfynl4oqowhh.us-east-1.rds.amazonaws.com:5432/postgres')
engine.connect()
db = ImportDB()
db.task1_table(TOP_25)

In [18]:
plot_three = pd.read_sql_table('PLOT_THREE', engine)
plot_three

            SPECIMEN TYPE  SPECIMEN TYPE COUNT  SPECIMEN TYPE PERCENTAGE
0                   URINE                78088                 28.309781
1                  SPUTUM                70972                 25.729968
2           BLOOD CULTURE                46168                 16.737603
3                    SWAB                27008                  9.791396
4         CATHETER TIP-IV                11241                  4.075277
5  BRONCHOALVEOLAR LAVAGE                 7450                  2.700900
6                  TISSUE                 6249                  2.265493
7                 ABSCESS                 3872                  1.403743
8        PERITONEAL FLUID                 3392                  1.229725
9                  OTHERS                21394                  7.756114

In [19]:
DEMO = DG.copy()
DEMO = DEMO[['subject_id', 'hadm_id', 'gender']]
DEMO.drop_duplicates(inplace=True)

In [20]:
DIAG = D_ICD.copy()
DIAG = DIAG.drop(['ROW_ID', 'SEQ_NUM'], axis=1)
DIAG = DIAG[~DIAG['ICD9_CODE'].str.startswith('E')]

In [21]:
def icd_codes(code):
    if 'V' in code:
        code = int(code[1:3])
        if code >= 1  and code <= 91:
            return 'Factors Influencing Health Status'
    else:    
        code = int(code[0:3]) 
        if code >= 1 and code <= 139:
            return 'Infectious And Parasitic Diseases'
        elif code >= 140 and code <= 239:
            return 'Neoplasms'
        elif code >= 240 and code <= 279:
            return 'Endocrine, Nutritional And Metabolic Diseases'
        elif code >= 280 and code <= 289:
            return 'Diseases Of The Blood-Forming Organs'
        elif code == 290 and code <= 319:
            return 'Mental Disorders'
        elif code >= 320 and code <= 389:
            return 'Diseases Of The Nervous System'
        elif code >= 390 and code <= 459:
            return 'Diseases Of The Circulatory System'
        elif code >= 460 and code <= 519:
            return 'Diseases Of The Respiratory System'
        elif code >= 520 and code <= 579:
            return 'Diseases Of The Digestive System'
        elif code >= 580 and code <= 629:
            return 'Diseases Of The Genitourinary System'
        elif code >= 680 and code <= 709:
            return 'Diseases Of The Skin And Tissue'
        elif code >= 710 and code <= 739:
            return 'Diseases Of The Musculoskeletal System'
        elif code >= 740 and code <= 759:
            return 'Congenital Anomalies'
        elif code >= 760 and code <= 779:
            return 'Conditions In The Perinatal Period'
        elif code >= 780 and code <= 799:
            return 'Symptoms And Ill-Defined Conditions'
        elif code >= 800 and code <= 999:
            return 'Injury And Poisoning'
    return 'Others'

In [22]:
DIAG['ICD9_CODE'] = DIAG['ICD9_CODE'].apply(icd_codes)

In [23]:
CSV_FOUR = DIAG.merge(DEMO,left_on=['SUBJECT_ID','HADM_ID'] ,right_on = ['subject_id','hadm_id']).drop_duplicates()
CSV_FOUR = CSV_FOUR.drop(['HADM_ID','subject_id', 'hadm_id'], axis=1)
CSV_FOUR.reset_index(level=0, inplace=False)
CSV_FOUR = CSV_FOUR.rename(columns={'gender':'GENDER','ICD9_CODE':'DIAGNOSIS'})
diag_list = list(CSV_FOUR['DIAGNOSIS'].unique())

In [24]:
count=0
for i in diag_list:   
    CSV_2 = CSV_FOUR[CSV_FOUR['DIAGNOSIS']==i]['GENDER'].value_counts()
    if count == 0:
        CSV__FOUR = pd.DataFrame({
        'MALE': [CSV_2[0]],
        'FEMALE' : [CSV_2[1]],
        'DIAGNOSIS': [i]
        })
        
    else:
        new_row = {'MALE':CSV_2[0],'FEMALE':CSV_2[1],'DIAGNOSIS':i }
        CSV__FOUR = CSV__FOUR.append(new_row, ignore_index=True)
    count+=1
CSV__FOUR = CSV__FOUR.drop([11])
CSV__FOUR

     MALE  FEMALE                                      DIAGNOSIS
0   23372   18126             Diseases Of The Circulatory System
1   13347   11437             Diseases Of The Respiratory System
2   11927    9460           Diseases Of The Genitourinary System
3   19094   15644  Endocrine, Nutritional And Metabolic Diseases
4    5546    4260         Diseases Of The Musculoskeletal System
5   10109    8923           Diseases Of The Blood-Forming Organs
6   11350    9199               Diseases Of The Digestive System
7    8468    7030                 Diseases Of The Nervous System
8    4853    3705                                      Neoplasms
9   11007    8838            Symptoms And Ill-Defined Conditions
10  18760   14717              Factors Influencing Health Status
12  12761    9407                           Injury And Poisoning
13   3277    2634                Diseases Of The Skin And Tissue
14   7785    6546              Infectious And Parasitic Diseases
15   1795    1371                           Congenital Anomalies
16   2985    2429             Conditions In The Perinatal Period
17    145     118                               Mental Disorders

In [25]:
class ImportDB():
    def task1_table(self, df):
        df.to_sql('PLOT_FOUR', engine, if_exists='replace', method='multi',
                   index=False, chunksize=1000)
engine = create_engine(
        'postgresql+psycopg2://postgres:cmpt733db@mimic-cmpt733.cfynl4oqowhh.us-east-1.rds.amazonaws.com:5432/postgres')
engine.connect()
db = ImportDB()
db.task1_table(CSV__FOUR)

In [26]:
plot_four = pd.read_sql_table('PLOT_FOUR', engine)
plot_four

     MALE  FEMALE                                      DIAGNOSIS
0   23372   18126             Diseases Of The Circulatory System
1   13347   11437             Diseases Of The Respiratory System
2   11927    9460           Diseases Of The Genitourinary System
3   19094   15644  Endocrine, Nutritional And Metabolic Diseases
4    5546    4260         Diseases Of The Musculoskeletal System
5   10109    8923           Diseases Of The Blood-Forming Organs
6   11350    9199               Diseases Of The Digestive System
7    8468    7030                 Diseases Of The Nervous System
8    4853    3705                                      Neoplasms
9   11007    8838            Symptoms And Ill-Defined Conditions
10  18760   14717              Factors Influencing Health Status
11  12761    9407                           Injury And Poisoning
12   3277    2634                Diseases Of The Skin And Tissue
13   7785    6546              Infectious And Parasitic Diseases
14   1795    1371                           Congenital Anomalies
15   2985    2429             Conditions In The Perinatal Period
16    145     118                               Mental Disorders

In [27]:
MICRO = MBE.copy()
MICRO.drop_duplicates(inplace=True)
MICRO.dropna(subset=['ORG_NAME','AB_NAME'], how='any', inplace=True)
MICRO = MICRO[MICRO.INTERPRETATION != 'P']
MICRO.loc[MICRO.INTERPRETATION == 'I','INTERPRETATION'] = 'R'
MICRO = MICRO[['SUBJECT_ID', 'ORG_NAME', 'AB_NAME', 'INTERPRETATION']]
MICRO.reset_index(level=0, inplace=False)
MICRO = MICRO.rename(columns={'ORG_NAME':'ORGANISM NAME','AB_NAME':'ANTIBIOTIC NAME'})

In [28]:
class ImportDB():
    def task1_table(self, df):
        df.to_sql('PLOT_FIVE', engine, if_exists='replace', method='multi',
                   index=False, chunksize=1000)
engine = create_engine(
        'postgresql+psycopg2://postgres:cmpt733db@mimic-cmpt733.cfynl4oqowhh.us-east-1.rds.amazonaws.com:5432/postgres')
engine.connect()
db = ImportDB()
db.task1_table(MICRO)

In [29]:
plot_five = pd.read_sql_table('PLOT_FIVE', engine)
plot_five

        SUBJECT_ID        ORGANISM NAME ANTIBIOTIC NAME INTERPRETATION
0              106  STAPH AUREUS COAG +      GENTAMICIN              S
1              106  STAPH AUREUS COAG +       OXACILLIN              S
2              106  STAPH AUREUS COAG +    ERYTHROMYCIN              R
3              106  STAPH AUREUS COAG +      PENICILLIN              R
4              106  STAPH AUREUS COAG +    LEVOFLOXACIN              S
...            ...                  ...             ...            ...
275822       99776  STAPH AUREUS COAG +     CLINDAMYCIN              S
275823       99776  STAPH AUREUS COAG +    ERYTHROMYCIN              S
275824       99776  STAPH AUREUS COAG +    LEVOFLOXACIN              S
275825       99776  STAPH AUREUS COAG +      GENTAMICIN              S
275826       99776  STAPH AUREUS COAG +       OXACILLIN              S

[275827 rows x 4 columns]

In [35]:
df = pd.read_csv('mental_test.csv',delimiter=',')
ab=df['AB_NAME']

In [36]:
X=df.drop(['INTERPRETATION','ICD9_CODE'],axis=1)
Y = df['INTERPRETATION']

In [37]:
age = X['admission_age']
ci= X['collection_interval']
pa = X['previous_admissions']
X = X[['SPEC_TYPE_DESC', 'ORG_NAME', 'AB_NAME', 'gender',
       'ethnicity_grouped', ]]
encoder = load(open('mimicEncoder.pkl', 'rb'))
encode = encoder.transform(X)
encoded_data = pd.DataFrame(encode)
encoded_data['admission_age']=age
encoded_data['collection_interval'] =ci
encoded_data['previous_admissions'] =pa

scaler = load(open('mimicScaler.pkl', 'rb'))
scaled_df = scaler.transform(encoded_data)
transformed_df = pd.DataFrame(scaled_df)

In [39]:
loaded_model = load(open('Mental_Disorders.sav', 'rb'))
y_preds = loaded_model.predict(transformed_df)

In [40]:
Y= np.array(Y.map({'R':0,'S':1}))
accuracy = accuracy_score(Y,y_preds)

In [41]:
line_graph_df = pd.DataFrame({
    'Antibiotic': ab,
    'Actual Labels': Y,
    'Predicted_ Labels': y_preds
})

In [42]:
class ImportDB():
    def task1_table(self, df):
        df.to_sql('PLOT_SIX', engine, if_exists='replace', method='multi',
                   index=False, chunksize=1000)
engine = create_engine(
        'postgresql+psycopg2://postgres:cmpt733db@mimic-cmpt733.cfynl4oqowhh.us-east-1.rds.amazonaws.com:5432/postgres')
engine.connect()
db = ImportDB()
db.task1_table(line_graph_df)

In [43]:
plot_six = pd.read_sql_table('PLOT_SIX', engine)
plot_six

              Antibiotic  Actual Labels  Predicted_ Labels
0               AMIKACIN              1                  1
1             AMPICILLIN              0                  0
2   AMPICILLIN/SULBACTAM              0                  0
3              CEFAZOLIN              1                  1
4               CEFEPIME              0                  1
5            CEFTAZIDIME              1                  1
6            CEFTRIAXONE              0                  0
7        CHLORAMPHENICOL              1                  1
8          CIPROFLOXACIN              0                  0
9            CLINDAMYCIN              0                  0
10          ERYTHROMYCIN              0                  0
11            GENTAMICIN              1                  1
12              IMIPENEM              1                  1
13          LEVOFLOXACIN              0                  0
14             LINEZOLID              1                  1
15             MEROPENEM              1                  1
16        NITROFURANTOIN              1                  1
17             OXACILLIN              0                  0
18            PENICILLIN              1                  1
19          PENICILLIN G              0                  0
20          PIPERACILLIN              1                  1
21     PIPERACILLIN/TAZO              0                  1
22              RIFAMPIN              1                  1
23          TETRACYCLINE              0                  0
24            TOBRAMYCIN              1                  1
25    TRIMETHOPRIM/SULFA              0                  1
26            VANCOMYCIN              1                  1

In [46]:
def evaluate_predictions(y_true,y_preds,probs):

    accuracy = accuracy_score(y_true,y_preds)
    precision = precision_score(y_true,y_preds)
    recall = recall_score(y_true,y_preds)
    f1 = f1_score(y_true,y_preds)
    rocauc =  roc_auc_score(y_true,probs[:,1])
    metric_dict = {
    'accuracy': accuracy,
    'precision': precision,
    'recall' : recall,
    'f1': f1,
    'rucauc': rocauc,
    }
    print(f'Accuracy: {accuracy * 100:.2f}%')
    print(f'Precision: {precision:.4f}')
    print(f'Recall: {recall:.4f}')
    print(f'F1 Score: {f1:.4f}')
    print(f'ROC Score: {rocauc:.4f}')
    return metric_dict

dataset = pd.read_csv('MENTAL_DIS_DF.csv')
dataset['target']= dataset['target'].map({'R':0,'S':1})
training_data = dataset.drop(['Diagnoses','target'],axis=1)
y = dataset['target']
shuffled_df = dataset.sample(frac=1)
X = shuffled_df.drop(['Diagnoses','target'],axis=1)
Y = shuffled_df['target']
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3,stratify=Y)

final_model = GradientBoostingClassifier(n_estimators=200, learning_rate=0.3 ,max_depth=10, random_state=733)
final_model= final_model.fit(X_train,y_train)
gby_preds = final_model.predict(X_test)
gb_probs = final_model.predict_proba(X_test)

rf = RandomForestClassifier(n_estimators = 200, criterion = 'entropy', class_weight='balanced',random_state = 1)
rf= rf.fit(X_train,y_train)
rfy_preds = rf.predict(X_test)
rf_probs = rf.predict_proba(X_test)

rf_probs = rf.predict_proba(X_test)
gb_probs = final_model.predict_proba(X_test)

# keep probabilities for the positive outcome only
ns_probs = [0 for _ in range(len(y_test))]
rf_probs = rf_probs[:, 1]
gb_probs = gb_probs[:,1]

# calculate scores



# calculate roc curves
ns_fpr, ns_tpr, _ = roc_curve(y_test, ns_probs)
rf_fpr, rf_tpr, _ = roc_curve(y_test, rf_probs)
gb_fpr, gb_tpr, _ = roc_curve(y_test, gb_probs)


MD_RF= pd.DataFrame({
    'rf_fpr': rf_fpr,
    'rf_tpr': rf_tpr,
})

MD_RF.to_csv('MD_RF.csv',index=False)
MD_GB= pd.DataFrame({
    'gb_fpr': gb_fpr,
    'gb_tpr': gb_tpr,
})
MD_GB.to_csv('MD_GB.csv',index=False)

In [47]:
AD = pd.read_csv('MD_GB.csv', delimiter=',')
BD = pd.read_csv('MD_RF.csv', delimiter=',')

In [48]:
class ImportDB():
    def task1_table(self, df):
        df.to_sql('PLOT_SEVEN', engine, if_exists='replace', method='multi',
                   index=False, chunksize=1000)
engine = create_engine(
        'postgresql+psycopg2://postgres:cmpt733db@mimic-cmpt733.cfynl4oqowhh.us-east-1.rds.amazonaws.com:5432/postgres')
engine.connect()
db = ImportDB()
db.task1_table(AD)

In [49]:
plot_seven = pd.read_sql_table('PLOT_SEVEN', engine)
plot_seven

      gb_fpr    gb_tpr
0   0.000000  0.000000
1   0.000000  0.005051
2   0.000000  0.494949
3   0.010526  0.494949
4   0.010526  0.575758
..       ...       ...
61  0.926316  0.989899
62  0.926316  0.994949
63  0.968421  0.994949
64  0.968421  1.000000
65  1.000000  1.000000

[66 rows x 2 columns]

In [50]:
class ImportDB():
    def task1_table(self, df):
        df.to_sql('PLOT_EIGHT', engine, if_exists='replace', method='multi',
                   index=False, chunksize=1000)
engine = create_engine(
        'postgresql+psycopg2://postgres:cmpt733db@mimic-cmpt733.cfynl4oqowhh.us-east-1.rds.amazonaws.com:5432/postgres')
engine.connect()
db = ImportDB()
db.task1_table(BD)

In [51]:
plot_eight = pd.read_sql_table('PLOT_EIGHT', engine)
plot_eight

       rf_fpr    rf_tpr
0    0.000000  0.000000
1    0.000000  0.020202
2    0.000000  0.035354
3    0.000000  0.055556
4    0.000000  0.075758
..        ...       ...
116  0.947368  0.989899
117  0.957895  0.989899
118  0.968421  0.994949
119  1.000000  0.994949
120  1.000000  1.000000

[121 rows x 2 columns]

In [52]:
def evaluate_predictions(y_true,y_preds):

    accuracy = accuracy_score(y_true,y_preds)
    precision = precision_score(y_true,y_preds)
    recall = recall_score(y_true,y_preds)
    f1 = f1_score(y_true,y_preds)
    rocauc =  roc_auc_score(y_true,y_preds)
    metric_dict = {
    'accuracy': accuracy,
    'precision': precision,
    'recall' : recall,
    'f1': f1,
    'rucauc': rocauc,
    }
    print(f'Accuracy: {accuracy * 100:.2f}%')
    print(f'Precision: {precision:.4f}')
    print(f'Recall: {recall:.4f}')
    print(f'F1 Score: {f1:.4f}')
    print(f'ROC Score: {rocauc:.4f}')
    return metric_dict
dataset = pd.read_csv('INFECTIOUS_PARASITIC_DF.csv')
dataset['target']= dataset['target'].map({'R':0,'S':1})

training_data = dataset.drop(['Diagnoses','target'],axis=1)
y = dataset['target']
shuffled_df = dataset.sample(frac=1)
X = shuffled_df.drop(['Diagnoses','target'],axis=1)
Y = shuffled_df['target']
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3,stratify=Y)
final_model = GradientBoostingClassifier(n_estimators=200, learning_rate=0.3 ,max_depth=10, random_state=733)
final_model= final_model.fit(X_train,y_train)
y_preds = final_model.predict(X_test)

final_model2 = RandomForestClassifier(n_estimators = 200, criterion = 'entropy', class_weight='balanced',random_state = 1)
final_model2= final_model2.fit(X_train,y_train)
y_preds = final_model2.predict(X_test)


rf_probs = final_model2.predict_proba(X_test)
gb_probs = final_model.predict_proba(X_test)
# keep probabilities for the positive outcome only
ns_probs = [0 for _ in range(len(y_test))]
rf_probs = rf_probs[:, 1]
gb_probs = gb_probs[:,1]
# calculate scores
ns_auc = roc_auc_score(y_test, ns_probs)
rf_auc = roc_auc_score(y_test, rf_probs)
gb_auc = roc_auc_score(y_test, gb_probs)
# summarize scores

# calculate roc curves
ns_fpr, ns_tpr, _ = roc_curve(y_test, ns_probs)
rf_fpr, rf_tpr, _ = roc_curve(y_test, rf_probs)
gb_fpr, gb_tpr, _ = roc_curve(y_test, gb_probs)


ID_RF= pd.DataFrame({
    'rf_fpr': rf_fpr,
    'rf_tpr': rf_tpr,
})

ID_RF.to_csv('ID_RF.csv',index=False)
ID_GB= pd.DataFrame({
    'gb_fpr': gb_fpr,
    'gb_tpr': gb_tpr,
})
ID_GB.to_csv('ID_GB.csv',index=False)

Accuracy: 80.72%
Precision: 0.8359
Recall: 0.8722
F1 Score: 0.8536
ROC Score: 0.7806

In [53]:
AD1 = pd.read_csv('ID_GB.csv', delimiter=',')
BD1 = pd.read_csv('ID_RF.csv', delimiter=',')

In [54]:
class ImportDB():
    def task1_table(self, df):
        df.to_sql('PLOT_NINE', engine, if_exists='replace', method='multi',
                   index=False, chunksize=1000)
engine = create_engine(
        'postgresql+psycopg2://postgres:cmpt733db@mimic-cmpt733.cfynl4oqowhh.us-east-1.rds.amazonaws.com:5432/postgres')
engine.connect()
db = ImportDB()
db.task1_table(BD1)

In [55]:
plot_nine = pd.read_sql_table('PLOT_NINE', engine)
plot_nine

        rf_fpr    rf_tpr
0     0.000000  0.000000
1     0.000974  0.045573
2     0.000974  0.045820
3     0.001049  0.045903
4     0.001049  0.045986
...        ...       ...
2859  0.971000  0.999835
2860  0.971150  0.999835
2861  0.986137  0.999959
2862  0.986287  0.999959
2863  1.000000  1.000000

[2864 rows x 2 columns]

In [56]:
class ImportDB():
    def task1_table(self, df):
        df.to_sql('PLOT_TEN', engine, if_exists='replace', method='multi',
                   index=False, chunksize=1000)
engine = create_engine(
        'postgresql+psycopg2://postgres:cmpt733db@mimic-cmpt733.cfynl4oqowhh.us-east-1.rds.amazonaws.com:5432/postgres')
engine.connect()
db = ImportDB()
db.task1_table(AD1)

In [57]:
plot_ten = pd.read_sql_table('PLOT_TEN', engine)
plot_ten

        gb_fpr    gb_tpr
0     0.000000  0.000000
1     0.000000  0.000041
2     0.000000  0.007595
3     0.000000  0.007678
4     0.000000  0.010155
...        ...       ...
9038  0.999775  0.999917
9039  0.999775  0.999959
9040  0.999850  0.999959
9041  0.999850  1.000000
9042  1.000000  1.000000

[9043 rows x 2 columns]